@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  
:root  {
  --background: 360 0% 95%;
  --foreground: 360 0% 0%;
  --card: 360 0% 90%;
  --card-foreground: 360 0% 10%;
  --popover: 360 0% 95%;
  --popover-foreground: 360 95% 0%;
  --primary: 360 100% 50%;
  --primary-foreground: 0 0% 100%;
  --secondary: 360 10% 70%;
  --secondary-foreground: 0 0% 0%;
  --muted: 322 10% 85%;
  --muted-foreground: 360 0% 35%;
  --accent: 322 10% 80%;
  --accent-foreground: 360 0% 10%;
  --destructive: 0 50% 30%;
  --destructive-foreground: 360 0% 90%;
  --border: 360 20% 50%;
  --input: 360 20% 18%;
  --ring: 360 100% 50%;
  --radius: 0.5rem;
}
.dark  {
  --background: 360 10% 5%;
  --foreground: 360 0% 90%;
  --card: 360 0% 0%;
  --card-foreground: 360 0% 90%;
  --popover: 360 10% 5%;
  --popover-foreground: 360 0% 90%;
  --primary: 360 100% 50%;
  --primary-foreground: 0 0% 100%;
  --secondary: 360 10% 10%;
  --secondary-foreground: 0 0% 100%;
  --muted: 322 10% 15%;
  --muted-foreground: 360 0% 60%;
  --accent: 322 10% 15%;
  --accent-foreground: 360 0% 90%;
  --destructive: 0 50% 30%;
  --destructive-foreground: 360 0% 90%;
  --border: 360 20% 18%;
  --input: 360 20% 18%;
  --ring: 360 100% 50%;
  --radius: 0.5rem;
}

}
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.auth {
  /* @apply flex-center min-h-screen w-full bg-purple-100; */
  /* @apply flex-center min-h-screen w-full bg-background; */
  @apply min-h-screen w-full bg-background;
}

.root {
  @apply flex w-full min-h-screen bg-background  flex-col lg:flex-row;
}

.root-container {
  @apply mt-16 flex-1 overflow-auto py-8 lg:mt-0 lg:max-h-screen lg:py-10;
}

.cl-formButtonPrimary {
  @apply bg-primary text-primary-foreground hover:bg-primary/80;
}

.cl-internal-b3fm6y {
  @apply hidden;
}

/* ========================================== TAILWIND STYLES */
@layer utilities {
  /* ===== UTILITIES */
  .wrapper {
    /* @apply max-w-5xl mx-auto px-5 md:px-10 w-full text-dark-400 p-16-regular; */
    @apply max-w-5xl mx-auto px-5 md:px-10 w-full p-16-regular;
  }

  .gradient-text {
    @apply bg-primary bg-cover bg-clip-text text-transparent;
  }

  /* ===== ALIGNMENTS */
  .flex-center {
    @apply flex justify-center items-center;
  }

  .flex-between {
    @apply flex justify-between items-center;
  }

  .flex-end {
    @apply flex justify-end items-center;
  }

  .flex-justify-end {
    @apply flex justify-end items-center w-full;
  }

  /* ===== TYPOGRAPHY */
  /* 44 */
  .h1-semibold {
    @apply text-[36px] font-semibold sm:text-[44px] leading-[120%] sm:leading-[56px];
  }

  /* 36 */
  .h2-bold {
    @apply text-[30px] font-bold md:text-[36px] leading-[110%];
  }

  /* 30 */
  .h3-bold {
    @apply font-bold text-[30px] leading-[140%];
  }

  /* 24 */
  .p-24-bold {
    @apply font-bold text-[24px] leading-[120%];
  }

  /* 20 */
  .p-20-semibold {
    @apply font-semibold text-[20px] leading-[140%];
  }

  .p-20-regular {
    @apply font-normal text-[20px] leading-[140%];
  }

  /* 18 */
  .p-18-semibold {
    @apply font-semibold text-[18px] leading-[140%];
  }

  /* 16 */
  .p-16-semibold {
    @apply font-semibold text-[16px] leading-[140%];
  }

  .p-16-medium {
    @apply font-medium text-[16px] leading-[140%];
  }

  .p-16-regular {
    @apply font-normal text-[16px] leading-[140%];
  }

  /* 14 */
  .p-14-medium {
    @apply font-medium text-[14px] leading-[120%];
  }

  /* 10 */
  .p-10-medium {
    @apply font-medium text-[10px] leading-[140%];
  }

  /* =====  SHADCN OVERRIDES */
  .button {
    @apply py-4 px-6 flex-center gap-3 rounded-full p-16-semibold focus-visible:ring-offset-0 focus-visible:ring-transparent !important;
  }

  .dropdown-content {
    @apply shadow-lg rounded-md overflow-hidden p-0;
  }

  .dropdown-item {
    @apply p-16-semibold text-primary/80 cursor-pointer transition-all px-4 py-3 rounded-none outline-none hover:border-none focus-visible:ring-transparent hover:text-backgroud hover:bg-foreground hover:bg-cover focus-visible:ring-offset-0 focus-visible:outline-none !important;
  }

  .input-field {
    @apply rounded-[16px] border-2 border-foreground/50 shadow-sm shadow-foreground/15 text-foreground disabled:opacity-100 p-16-semibold h-[50px] md:h-[54px] focus-visible:ring-offset-0 px-4 py-3 focus-visible:ring-transparent !important;
  }

  .search-field {
    @apply border-0 bg-transparent text-foreground w-full placeholder:text-foreground/80 h-[50px] p-16-medium focus-visible:ring-offset-0 p-3 focus-visible:ring-transparent !important;
  }

  .submit-button {
    @apply bg-primary bg-cover rounded-full py-4 px-6 p-16-semibold h-[50px] w-full md:h-[54px];
  }

  .select-field {
    @apply w-full border-2 border-foreground/20 shadow-sm shadow-secondary/15 rounded-[16px] h-[50px] md:h-[54px] text-foreground p-16-semibold disabled:opacity-100 placeholder:text-foreground px-4 py-3 focus:ring-offset-0 focus-visible:ring-transparent focus:ring-transparent focus-visible:ring-0 focus-visible:outline-none !important;
  }

  .select-trigger {
    @apply flex items-center  gap-2 py-5 capitalize focus-visible:outline-none;
  }

  .select-item {
    @apply py-3 cursor-pointer hover:bg-primary/20;
  }

  .IconButton {
    @apply focus-visible:ring-transparent focus:ring-offset-0 focus-visible:ring-offset-0 focus-visible:outline-none focus-visible:border-none !important;
  }

  .sheet-content button {
    @apply focus:ring-0 focus-visible:ring-transparent focus:ring-offset-0 focus-visible:ring-offset-0 focus-visible:outline-none focus-visible:border-none !important;
  }

  .success-toast {
    @apply bg-primary text-primary-foreground;
  }

  .error-toast {
    @apply bg-destructive text-destructive-foreground;
  }

  /* Home Page */
  .home {
    /* @apply sm:flex-center hidden h-72 flex-col gap-4 rounded-[20px] border bg-banner bg-cover bg-no-repeat p-10 shadow-inner; */
    @apply sm:flex-center hidden h-72 flex-col gap-4 rounded-[20px] border bg-primary text-primary-foreground p-10 shadow-inner;
  }

  .home-heading {
    /* @apply h1-semibold max-w-[500px] flex-wrap text-center text-white shadow-sm; */
    @apply h1-semibold max-w-[500px] flex-wrap text-center text-primary-foreground shadow-sm;
  }

  /* Credits Page */
  .credits-list {
    @apply mt-11 grid grid-cols-1 gap-5 sm:grid-cols-2 md:gap-9 xl:grid-cols-3;
  }

  .credits-item {
    @apply w-full rounded-[16px] border-2 border-foreground/20 bg-background p-8 shadow-xl shadow-primary/20 lg:max-w-none;
  }

  .credits-btn {
    @apply w-full rounded-full /* bg-purple-100 bg-cover text-purple-500 hover:text-purple-500 */;
  }

  /* Profile Page */
  .profile {
    @apply mt-5 flex flex-col gap-5 sm:flex-row md:mt-8 md:gap-10;
  }

  .profile-balance {
    @apply w-full rounded-[16px] border-2 border-primary/20 bg-background p-5 shadow-lg shadow-primary/10 md:px-6 md:py-8;
  }

  .profile-image-manipulation {
    @apply w-full rounded-[16px] border-2 border-primary/20 bg-background p-5 shadow-lg shadow-primary/10 md:px-6 md:py-8;
  }

  /* Transformation Details */
  .transformation-grid {
    @apply grid h-fit min-h-[200px] grid-cols-1 gap-5 py-8 md:grid-cols-2;
  }

  .transformation-original_image {
    @apply h-fit min-h-72 w-full rounded-[10px] border border-dashed border-foreground bg-secondary/20 object-cover p-2;
  }

  /* Collection Component */
  .collection-heading {
    @apply md:flex-between mb-6 flex flex-col gap-5 md:flex-row text-primary;
  }

  .collection-list {
    @apply grid grid-cols-1 gap-6 sm:grid-cols-2 xl:grid-cols-3;
  }

  .collection-empty {
    @apply flex-center h-60 w-full rounded-[10px]  bg-secondary/80;
  }

  .collection-btn {
    @apply button w-32 bg-primary text-primary-foreground;
  }

  .collection-card {
    @apply flex flex-1 cursor-pointer flex-col gap-5 rounded-[16px] border-2 border-primary/15 bg-background/80 p-4 shadow-xl shadow-primary/10 transition-all hover:shadow-primary/20;
  }

  /* MediaUploader Component */
  .media-uploader_cldImage {
    @apply h-fit min-h-72 w-full rounded-[10px] border border-dashed border-foreground bg-primary/20 object-cover p-2;
  }

  .media-uploader_cta {
    @apply flex-center flex h-72 cursor-pointer flex-col gap-5 rounded-[16px] border border-dashed border-foreground bg-background/20 shadow-inner;
  }

  .media-uploader_cta-image {
    @apply rounded-[16px] bg-primary-foreground  p-5 shadow-sm shadow-primary/50;
  }

  /* Navbar Component */
  .header {
    /* @apply flex-between fixed h-16 w-full border-b-4 border-primary/80 bg-background p-5 lg:hidden; */
    @apply flex-between fixed h-16 w-full border-b-2 border-primary/10 bg-background p-5 lg:hidden;
  }

  .header-nav_elements {
    @apply mt-8 flex w-full flex-col items-start gap-5;
  }

  /* Search Component */
  .search {
    @apply flex w-full rounded-[16px] border-2 border-foreground/20 bg-background px-4 shadow-sm shadow-foreground/15 md:max-w-96;
  }

  /* Sidebar Component */
  .sidebar {
    @apply hidden h-screen w-72 bg-background/10 p-5 shadow-md shadow-primary/50 lg:flex;
  }

  .sidebar-logo {
    @apply flex items-center gap-2 md:py-2;
  }

  .sidebar-nav {
    @apply h-full flex-col justify-between md:flex md:gap-4;
  }

  .sidebar-nav_elements {
    @apply hidden w-full flex-col items-start gap-2 md:flex;
  }

  .sidebar-nav_element {
    @apply flex-center p-16-semibold w-full whitespace-nowrap rounded-full bg-cover  transition-all hover:bg-primary/80 hover:shadow-inner;
  }

  .sidebar-link {
    @apply p-16-semibold flex size-full gap-4 p-4;
  }

  /* TransformationForm Component */
  .prompt-field {
    @apply flex flex-col gap-5 lg:flex-row lg:gap-10;
  }

  .media-uploader-field {
    @apply grid h-fit min-h-[200px] grid-cols-1 gap-5 py-4 md:grid-cols-2;
  }

  /* TransformedImage Component */
  .download-btn {
    @apply p-14-medium mt-2 flex items-center gap-2 px-2;
  }

  .transformed-image {
    @apply h-fit min-h-72 w-full rounded-[10px] border border-dashed border-foreground bg-secondary/20 object-cover p-2;
  }

  .transforming-loader {
    @apply flex-center absolute left-[50%] top-[50%] size-full -translate-x-1/2 -translate-y-1/2 flex-col gap-2 rounded-[10px] border bg-primary/90;
  }

  .transformed-placeholder {
    @apply flex-center p-14-medium h-full min-h-72 flex-col gap-5 rounded-[16px] border border-dashed border-foreground bg-secondary/20 shadow-inner;
  }

  /* BY ME */

  .svg-color {
    /* filter: invert(.5) */
    @apply brightness-0 dark:brightness-200;
  }
}

.svg-main-logo{
  filter: invert(14%) sepia(70%) saturate(7493%) hue-rotate(80deg) brightness(96%) contrast(117%);
}

.svg-green{
  filter: invert(14%) sepia(70%) saturate(7493%) hue-rotate(100deg) brightness(96%) contrast(117%);
}

.svg-red{
  filter: invert(14%) sepia(70%) saturate(7493%) hue-rotate(50deg) brightness(96%) contrast(117%);
}

/* =====  CLERK OVERRIDES */
.cl-userButtonBox {
  display: flex;
  flex-flow: row-reverse;
  gap: 12px;
}

.cl-userButtonOuterIdentifier {
  font-size: 16px;
  font-weight: 600;
  /* color: #384262; */
}
